.field{
    display: flex;
}

.level-zero .field{
    flex-direction: row;

}
.level-zero .field .red{
    align-self: flex-start;
}

.level-one .field{
    justify-content: flex-start;
    align-items: flex-end;
}


.level-two .field{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.level-three .field{
    flex-direction: row-reverse;
    justify-content: space-between;
}

.level-four .field{
    justify-content: center;
}
.level-four .field .red{
    align-self: flex-end;
}
.level-four .field .blue{
    align-self: center;
}
.level-four .field .purple{
    align-self: flex-start;
}


.level-five .field{
    flex-direction: row;
    justify-content: center;
}
.level-five .field .red{
    flex-grow: 2;
}
.level-five .field .purple{
    flex-grow: 2;
}


.level-six .field{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.level-six .field .blue{
    flex-grow: 3;
}
.level-six .field .red{
    flex-grow: 2;
}
.level-six .field .purple{
    flex-grow: 1;
    align-self: flex-start;
}


.level-seven .field{
    flex-direction: column;
    flex-wrap: wrap;
}
